<%= form_for(@flight, html:{class: "form"}) do |f| %>
  <% if @flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
      <% @flight.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :airline %><br>
    <%= f.text_field :airline, class: "typeahead" %>
  </div>
  <div class="field">
    <%= f.label :departuretime %><br>
    <%= f.datetime_select :departuretime %>
  </div>
  <div class="field">
    <%= f.label :flightnumber %><br>
    <%= f.text_field :flightnumber %>
  </div>
  <div class="field">
    <%= f.label :departureairport %><br>
    <%= f.text_field :departureairport %>
  </div>
  <div class="field">
    <%= f.label :arrivalairport %><br>
    <%= f.text_field :arrivalairport %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
