<div class="fondblanc">

  <h2> Find your flight </h2>
  
<%= form_tag(nil, {:class => 'form'}) do %>
  <div class="field">
    <%= label_tag :airline, "Airline:" %><br>
    <%= text_field_tag :airline, nil, :class => "tracked" %>
  </div>
  <div class="field">
    <%= label_tag :departuretime, "Departure Time:" %><br>
    <%= text_field_tag :departuretime, nil, :id => "date_picker" %>
  </div>
 
  <script type="text/javascript">
                $(function(){
                        $('#date_picker').datetimepicker();
                });
  </script>

  <div class="field">
    <%= label_tag :flightnumber, "Flight #:" %><br>
    <%= text_field_tag :flightnumber, nil, :class => "tracked" %>
  </div>
  <div class="field">
    <%= label_tag :departureairport, "From:" %><br>
    <%= text_field_tag :departureairport, nil, :class => "tracked"  %>
  </div>
  <div class="field">
    <%= label_tag :arrivalairport, "To:" %><br>
    <%= text_field_tag :arrivalairport, nil, :class => "tracked"  %>
  </div>
<% end %>
</div>
