
  <div id ="planeform">
  <%= render 'searchForm' %>

<div class="result">
  <h1>Results</h1>

  <table>
    <thead>
      <tr>
        <th>Airline</th>
        <th>     Departure Time    </th>
        <th>        Flight #      </th>
        <th>         From        </th>
        <th>To</th>
        <th></th>
      </tr>
    </thead>

    <tbody id="flightsList">
      <% @flights.each do |flight| %>
        <tr>
          <td><%= flight.airline %></td>
          <td><%= flight.departuretime %></td>
          <td><%= flight.flightnumber %></td>
          <td><%= flight.departureairport %></td>
          <td><%= flight.arrivalairport %></td>
          <td><%= link_to raw('<i class="fa fa-search-plus"></i> Show posts'), flight, class: "btn btn-table" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>
<div id= 'linknew'>
  <%= link_to raw('<i class="fa fa-plane"></i> Can t find your plane?'), new_flight_path, class: "btn btn-blue" %>
</div>
</div>
