<p id="notice"><%= notice %></p>
<div class="box">
  <h4>
    <%= @flight.airline %> # <%= @flight.flightnumber %>
  </h4>
  <p>
    <strong>Departure Time:</strong>
    <%= @flight.departuretime %>
  </p>

  <div class="travel">
    <p>
    <strong>From:</strong>
    <%= @flight.departureairport %>
    <strong>To:</strong>
    <%= @flight.arrivalairport %>
    </p>
  </div>
</div>

<% if signed_in? %>
  <% if @flight.posts.any? %>
      <% @flight.posts.each do |post| %>
            <h4><%= post.user_id %>
            </h4>
            <p>
            <%= post.description %>
            <%= post.weight %> Kg
            </p>
      <% end %>
    <% end %>
 <% else %>
 <% if @flight.posts.any? %>
 <% total = 0 %>
      <% @flight.posts.each do |post| %>
            <% total += post.weight %>
      <% end %>
      <%= total %>
    <% end %> 
<% end %>

<p>
<%= link_to "Add post", controller: "posts", action: "new", flight_id: @flight.id%>
</p>

<% if signed_in? %>
<%= link_to 'Sign Out', signout_path, method: 'delete' %>
<% else %>
<% end %>
</p>

<%= link_to 'Edit', edit_flight_path(@flight) %> |
<%= link_to 'Back', flights_path %>
