<div class="content">
  <div class="blue-box">
    <span class="airportCode">
      <%= @flight.departureairport %>
    </span>
    <%= image_tag "plane.png" %>
    <span class="airportCode">
      <%= @flight.arrivalairport %>
    </span>

    <span  class="spanTable"> 
      <table>
        <tr>
          <td colspan="2">
            <%= @flight.airline %> <%= @flight.flightnumber %>
          </td>
        </tr>
        <tr>
          <td><i class="fa fa-calendar"></i></td>
          <td>
            <%= @flight.departuretime.strftime("%m/%d/%Y") %>
          </td>
        </tr>
        <tr>
          <td><i class="fa fa-clock-o"></i></td>
          <td>
            <%= @flight.departuretime.to_s(:time) %>
          </td>
        </tr>
      </table>
    </span>
  </div>

  <% if signed_in? %>
    <% if @flight.posts.any? %>
      <% @flight.posts.each do |post| %>
        <% @user = User.find(post.user_id) %>

        <div class="post">
          <span class="weight"><%= post.weight %> Kg</span>
          <h4><i class="fa fa-briefcase"></i> <%= @user.name %></h4>
          <p>
          <%= post.description %>
          </p>
          <%= link_to raw('<i class="fa fa-envelope"></i> Contact'), {controller: 'users', action: "contact", user_contacted: @user}, class: "btn btn-orange"%>
        </div>

      <% end %>
    <% end %>
  <% else %>
    <% if @flight.posts.any? %>
      <% total = 0 
      number =0 %>
      <% @flight.posts.each do |post| %>
        <% total += post.weight 
        number += 1 %>
      <% end %>

      <p> Currently <%= number %> users offer to carry luggages for that flight.</p>
      <p> The total weight those users can carry is <%= total %> kg. </p>

      <p> To see the details and contact one of those users, <%= link_to 'Sign In', signin_path %> or <%= link_to 'Sign Up', signup_path %>
      </p>

    <% end %> 
  <% end %>

  <% if signed_in? %>
    <p>
    You can also offer your services, just
    <%= link_to "add a post", controller: "posts", action: "new", flight_id: @flight.id%>
    </p>

  <% else %>
  <% end %>
  </p>

  <%= link_to 'Back', flights_path %>
</div>
