<div class="content">

  <h2>
  <%= @user.name %>
  </h2>

  <p>
  <strong>Email:</strong>
  <%= @user.email %>
  </p>

  <p>
  <strong>Phone:</strong>
  <%= @user.phone %>
  </p>


  <%= link_to 'Edit your profile', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
</div>
